body {
  color: #222;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

.parent {
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* row-gap: 30px; */
  /* column-gap: 30px; */
  /* gap: 30px; */
  gap: 30px 30px;
}

.parent div {
  background-color: yellowgreen;
  border: 1px solid black;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}
