body {
  color: #222;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

.parent {
  border: 5px solid #000;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

.parent div {
  background-color: deepskyblue;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.parent div.item {
  background-color: crimson;
  /* grid-row-start: 1;
  grid-row-end: 5; */
  /* grid-row: 1 / 5; */
  grid-row: 1 / span 4;
  grid-column-start: 2;
}
