body {
  color: #222;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

.parent {
  border: 5px solid black;
  display: grid;
}

.parent div {
  background-color: yellowgreen;
  border: 1px solid black;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}
